<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guia NutriFit Analytics</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      id="cssCambio"
    />
  </head>

  <body>
    <!-- Encabezado -->
    <div class="encabezado" id="inicio">
      <h1 class="titulo-principal">Guía</h1>
      <nav class="navegacion-principal">
        <ul class="menu-principal">
          <li><a href="{{ url_for('index') }}">Inicio</a></li>
          <li><a href="{{ url_for('guia') }}">Guía</a></li>
          <li><a href="{{ url_for('psi') }}">Psicología</a></li>
          <li><a href="#piePagina">Pie de Página</a></li>
        </ul>
      </nav>
    </div>

    <!-- Contenido Principal -->
    <div class="contenido">
      <h2 class="titulo_guia">Guia Rutina y Dieta</h2>
      <p class="texto_guia">
        <br /><br />
        Esta guía proporcionará las instrucciones necesarias para poder entender
        el resultado que se obtendrá al meter los datos del individuo y se
        representarán por pantalla <br /><br /><br /><br />
        <strong>Dieta:</strong><br /><br />
        Se obtendrá una dieta de siete días en la que se pondrá diez alimentos
        por día. Esto hace un total de setenta alimentos. Es una dieta fácil de
        seguir, ya que los alimentos entregados se ajustan a los macros que se
        obtienen del cálculo de los datos introducidos. Esto quiere decir que
        solo se tiene que tener en cuenta comer las kilocalorías específicas
        como resultado.No importa cuando o cuantas comidas se hagan, lo
        importante es respetar las kilocalorías. Se dan diez alimentos diarios
        porque la participó típica de las personas es de cinco comidas diarias,
        así tienes varios alimentos por comida, pero se puede ajustar como tú
        prefieras. Puedes comer los setenta alimentos como te venga mejor,
        repitiendo varios días uno, mezclando más de dos por comida, ya que al
        final lo importante es que respetes las kilocalorías.<br /><br />
        Sería recomendable dividir un poco las comidas, aunque se puede hacer
        solo una comida diaria, la cantidad suele ser excesiva para una sola
        ingesta. Tampoco se recomienda hacer mucha división, porque tienes que
        hacer la digestión.<br /><br />
        Un buen hábito puede ser el ingerir hidratos de carbono entre 2 y 4
        horas antes del ejercicio para permitir la digestión y la absorción
        adecuadas. O también es posible consumir alientos con hidratos de
        carbono simples entre 30 y 60 minutos antes del ejercicio. Esto ayudará
        a tener suficiente energía para los entrenamientos.<br /><br />
        Los alimentos proporcionados también suplen todos o casi todos los
        micronutrientes. Para la cantidad de agua, se recomienda un consumo de
        dos con cinco litros para los hombres y dos litros para las mujeres.<br /><br />
        Todo esto como es la alimentación, micronutrientes como el agua puede
        variar dependiendo de la persona y de muchísimos factores, por lo que es
        recomendable ir modificando estos valores dependiendo de como te
        veas.<br /><br />
        Para la alimentación lo único que tienes que controlar es tu peso,
        dependiendo de lo que quieras tendrás que aumentar o disminuir el número
        de kilocalorías. Si en algún momento cambia tu objetivo o actividad,
        realiza otra vez el cuestionario.<br /><br />
        Para los micronutrientes se necesita un análisis. Esto es recomendable
        hacérselo periódicamente para monitorizar tu salud y ver si tienes que
        comer alimentos más ricos en ese micronutriente o incluso que el médico
        te recete implementación.<br /><br />
        Para el agua depende mucho del clima, actividad física, la intensidad de
        la misma. Por ello, para saber si tienes que beber más agua tienes que
        ver factores como boca seca, orina amarillo u oscura.<br /><br /><br /><br />
        <strong>Rutina:</strong><br /><br />
        El ejercicio que dará será una rutina adaptada al nivel que tenga el
        usuario. Se darán varios formatos para que se pueda adaptar a los días
        que tenga disponibles. La rutina abordará todos los músculos, cuanto más
        avanzado más se enfocará en músculos específicos. Para los principiantes
        se buscará encontrar ejercicios más generales.<br /><br />
        El factor más importante es la consistencia. Si consigues ir sin fallar
        acabarás mejorando tu estado físico sin importar la ruina o la
        intensidad.<br /><br />
        En cuanto a la intensidad, es un factor importante buscar un peso que
        sea un desafío para el músculo. Por lo que es recomendable llegar al
        fallo o cerca del fallo muscular. Ir al fallo depende mucho de tu nivel
        y de la dieta que tengas, a mayor nivel más recomendable es llegar al
        fallo en varios ejercicios.<br /><br />
        Otro factor importante es ir subiendo el peso de los ejercicios con el
        paso de las semanas. Para los principiantes es muy fácil esto, una vez
        llegas a un nivel esto será todo un reto. El número de serie o
        repeticiones recomendado es tres o cuatro series de seis a quince
        repeticiones. Puedes escoger el número que prefieras. Para subir de peso
        en los ejercicios es recomendable hacerlo de la siguiente forma:<br /><br />
        Semana 1: Ejercicio X -- 12 repeticiones, 10 repeticiones, 8
        repeticiones<br />
        Semana 2: Ejercicio X -- 12 repeticiones, 11 repeticiones, 8
        repeticiones<br />
        Semana 3: Ejercicio X -- 12 repeticiones, 11 repeticiones, 11
        repeticiones<br />
        Semana 4: Ejercicio X -- 12 repeticiones, 12 repeticiones, 12
        repeticiones<br /><br />
        Una vez igualas las repeticiones que hayas escogido por preferencia,
        puedes subir de peso, volviendo otra vez a realizar menos repeticiones
        entre series.<br /><br />
        Es recomendado hacer descansos de entre un minuto a cuatro minutos.
        Cuanta mayor intensad tengas en el ejército, más tiempo de descanso
        tendrías que realizar.<br /><br /><br />
        <strong>Push-Pull-Legs (PPL)</strong><br /><br />
        <strong>Descripción: </strong>Rutina que segmenta ejercicios según
        movimiento y área del cuerpo. Ideal para estimular crecimiento
        muscular.<br /><br />
        <strong>Estructura:</strong> Días de empuje (Push) enfocados en pecho,
        hombros, tríceps; días de tracción (Pull) en espalda y bíceps; y días de
        pierna (Legs) para cuádriceps, isquiotibiales, glúteos, y gemelos.<br /><br />
        <strong>Frecuencia:</strong> Puede hacerse 3 días a la semana o 6 con un
        día de descanso. <br /><br /><br />
        <strong>Push-Pull</strong><br /><br />
        <strong>Descripción: </strong>Variante de PPL, centrada solo en empuje y
        tracción, permitiendo más flexibilidad.<br /><br />
        <strong>Estructura:</strong> Días de empuje (Push) y días de tracción
        (Pull). Piernas se entrenan adaptándolas al movimiento.<br /><br />
        <strong>Frecuencia:</strong> Se puede hacer con un día de descanso entre
        ellos o en días consecutivos. <br /><br /><br />
        <strong>Cuerpo Completo (Full-Body)</strong><br /><br />
        <strong>Descripción: </strong>Entrenamiento que aborda todos los grupos
        musculares en una sesión. Ideal para principiantes.<br /><br />
        <strong>Estructura:</strong> Todos los grupos musculares son trabajados
        en una sola sesión.<br /><br />
        <strong>Frecuencia:</strong> 2-3 veces por semana para principiantes,
        4-6 veces para intermedios y avanzados. <br /><br /><br />
        <strong>División por Grupos Musculares (Weider)</strong><br /><br />
        <strong>Descripción: </strong>Fragmenta la rutina según grupos
        musculares específicos. Ideal para desarrollo muscular detallado.<br /><br />
        <strong>Estructura:</strong> Días dedicados a pecho (y tríceps), espalda
        (y bíceps), piernas (anterior y posterior), hombros, brazos, y
        abdominales/lumbares.<br /><br />
        <strong>Frecuencia:</strong> Desde 3 días hasta 6 días a la semana,
        según la estructura. <br /><br /><br />
        <strong>Torso/Pierna</strong><br /><br />
        <strong>Descripción: </strong>Divide entrenamientos en parte superior
        (torso) y inferior (pierna). Ideal para frecuencia y equilibrio.<br /><br />
        <strong>Estructura:</strong> Días de torso (pecho, espalda, hombros,
        bíceps, tríceps) y días de pierna (cuádriceps, isquiotibiales, glúteos,
        gemelos).<br /><br />
        <strong>Frecuencia:</strong> Puede estructurarse en 3, 4, o 6 días a la
        semana.
      </p>
    </div>

    <!-- Pie de Página -->
    <div class="piePagina" id="piePagina">
      <div class="infoContacto">
        Información de contacto: arubirod@myuax.com<br />
        Centro de estudio: Universidad Alfonso X el Sabio<br />
        Redes sociales:<br />
        LinkedIn: Adrián Rubio Rodríguez<br />
        <a href="#inicio"> Inicio</a>
      </div>
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
